@page "/basket"

@if (basketItems == null)
{
    <Loading></Loading>
}
else if (!basketItems.Any())
{
    <p><em>There is nothing in the basket</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var basketItem in basketItems)
            {
                <tr>
                    <td>
                        <img width="150" src="@basketItem.Product.ImageUrl" />
                    </td>
                    <td>@basketItem.Product.Name</td>
                    <td>@basketItem.Quantity</td>
                    <td>@basketItem.Price</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        Total amount: @totalAmount
    </div>
    <button class="btn btn-primary" disabled="@BuyingDisabled" @onclick="()=>PlaceOrder()">Place order</button>
    @if (!CanPlaceOrder)
    {
        <div>
            <small>
                You need to be logged in to place your order.
            </small>
        </div>
    }
}
