@page "/bikes"

@if (bikes == null)
{
    <Loading></Loading>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Bike</th>
                <th>Price</th>
                <th>Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bike in bikes)
            {
                <tr>
                    <td>
                        <ProductLink ProductModel="@bike" Height="150px"></ProductLink>
                    </td>
                    <td>@bike.Name</td>
                    <td>@bike.Price</td>
                    <td>@bike.Amount</td>
                    <td>
                        <button class="btn btn-primary" @onclick="()=>AddProductToBasket(bike)" disabled="@(bike.Amount < 1)">
                            <span class="oi oi-cart"> Add to basket</span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
