<button type="button" class="btn btn-danger" @onclick="@Fill">Gen</button>

<form class="credit-card">
    <div class="form-header">
        <h5 class="title">Credit card detail</h5>
    </div>
    <div class="form-body">
        <EditForm EditContext="editContext" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <input type="text" class="card-number" disabled="@paymentViaToken" placeholder="Name" @bind-value="card.CardholderName">
            <input type="text" class="card-number" disabled="@paymentViaToken" placeholder="Card number" @bind-value="card.CardNumber">

            <!-- Date Field -->
            <div class="date-field">
                <div class="month">
                    <select name="Month" @bind="@month" disabled="@paymentViaToken">
                        @foreach (var x in months)
                        {
                            <option value="@x.Key">@x.Value</option>
                        }
                    </select>
                </div>
                <div class="year">
                    <select name="Year" @bind="@year" disabled="@paymentViaToken">
                        @for (int i = minYear; i < maxYear; i++)
                        {
                            <option value="@i.ToString().Substring(2)">@i</option>
                        }
                    </select>
                </div>
            </div>

            <!-- Card Verification Field -->
            <div class="card-verification">
                <div class="cvv-input">
                    <input type="text" placeholder="cvv" @bind-value="@card.Cvv">
                </div>
                <div class="cvv-details">
                    <p>3 or 4 digits usually found <br> on the signature strip</p>
                </div>
            </div>

            <!-- Buttons -->
            @if (!isProcessing)
            {
                <button type="submit" class="proceed-btn">Proceed</button>
            }
            else
            {
                <Loading />
            }
        </EditForm>
    </div>
</form>
