@page "/manageorders"

@using DataAccessLibrary
<AuthorizeView Roles="Administrators">
    <Authorized>
        @if (orders == null)
        {
            <Loading></Loading>
        }
        else if (!orders.Any())
        {
            <p><em>No orders</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>User</th>
                        <th>Total amount</th>
                        <th>Order Status</th>
                        <th>Payment Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in orders)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.UserEmail</td>
                            <td>@order.TotalAmount</td>
                            <td>
                                <select @bind="@order.OrderStatus">
                                    @foreach (var item in Enum.GetValues(typeof(OrderStatus)))
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <select @bind="order.PaymentStatus">
                                    @foreach (var item in Enum.GetValues(typeof(PaymentStatus)))
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-primary" @onclick="()=>UpdateOrder(order)">
                                    <span class="oi oi-check"></span> Apply
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
</AuthorizeView>
