@page "/managetransactions"
<AuthorizeView Roles="Administrators">
    <Authorized>
        @if (transactions == null)
        {
            <p><em>Loading...</em></p>
        }
        else if (!transactions.Any())
        {
            <p><em>No orders</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Transaction Id</th>
                        <th>Order Id</th>
                        <th>User</th>
                        <th>Amount</th>
                        <th>Payment Product Id</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in transactions)
                    {
                        <tr>
                            <td>@transaction.Id</td>
                            <td>@transaction.OrderId</td>
                            <td>@transaction.Username</td>
                            <td>@transaction.Amount</td>
                            <td>@transaction.PaymentProductId</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
</AuthorizeView>