@page "/orders"

@using PaymentAccessService
@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IOrderData orderData
@inject IPaymentService paymentService
@inject ITransactionsData transactionData
@inject IJSRuntime jSRuntime
@inject ISecurityService securityService
@inject NavigationManager navigationManager

<AuthorizeView Roles="Users">
    <Authorized>
        @if (orders == null)
        {
            <p><em>Loading...</em></p>
        }
        else if (!orders.Any())
        {
            <p><em>No orders</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Status</th>
                        <th>Paid</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in orders)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.OrderStatus</td>
                            <td>@order.PaymentStatus</td>
                            <td>@order.TotalAmount</td>
                            <td>
                                <button class="btn btn-primary" disabled="@IsPaid(order)" @onclick="() => PayForOrder(order)">
                                    <span class="oi oi-dollar"> Pay</span>
                                </button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
</AuthorizeView>

@code
{
    private User user;
    private List<OrderModel> orders;

    protected override async Task OnInitializedAsync()
    {
        user = await securityService.GetCurrentUser();
        await RefreshOrders();
    }

    private async Task RefreshOrders()
    {
        if (user != null)
        {
            orders = await orderData.GetOrders(user.Name);
        }
    }

    private bool IsPaid(OrderModel order) => order.PaymentStatus == PaymentStatus.Paid;

    private async Task PayForOrder(OrderModel orderModel)
    {
        if (user == null)
        {
            return;
        }

        var add = await jSRuntime.Confirm($"Pay for order ?");

        if (add)
        {
            try
            {
                await transactionData.AddTransaction(new TransactionCreateModel()
                {
                    Username = user.Name,
                    OrderId = orderModel.Id,
                    Amount = orderModel.TotalAmount,
                    PaymentMethod = PaymentMethod.Visa
                });

                await orderData.UpdateOrder(new OrderUpdateModel() { Id = orderModel.Id, OrderStatus = orderModel.OrderStatus, PaymentStatus = PaymentStatus.Paid });

                await jSRuntime.Inform($"Thank you for paying for order {orderModel.Id}");

                await RefreshOrders();
            }
            catch
            {

            }
        }
    }
}
