@page "/orders/{Id:int}"

@using DataAccessLibrary

<h1>
    Order details
</h1>


@if (OrderModel is { PaymentStatus: PaymentStatus.NotPaid })
{
    <select name="AuthorizationMode" @bind="PayForm">
        <option value="">Select form</option>
        <option value="1">Ingenico</option>
        <option value="2">Shu Bike Shop</option>
    </select>
}

@if (OrderModel is not { PaymentStatus: PaymentStatus.Paid })
{
    @switch (PayForm)
    {
        case 1:
            <HostedCheckout parent="this">
            </HostedCheckout>
            break;
        case 2:
            <PayForOrder parent="this">
            </PayForOrder>
            break;
    }
}

@if (!loaded)
{
    <Loading></Loading>
}
else if (OrderModel == null)
{
    <p>
        <em>"There is nothing here..."</em>
    </p>
}

@if (OrderModel != null)
{
    <br />
    <table class="table">
        <tbody>
            <tr>
                <td>Order Number</td>
                <td>@OrderModel.Id</td>
            </tr>
            <tr>
                <td>OrderStatus</td>
                <td>@OrderModel.OrderStatus</td>
            </tr>
            <tr>
                <td>Payment status</td>
                <td>@OrderModel.PaymentStatus</td>
            </tr>
            <tr>
                <td>Total amount</td>
                <td>@OrderModel.TotalAmount</td>
            </tr>
        </tbody>
    </table>
}

<h2>
    Products
</h2>

@if (orderProductDetailsModel != null)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Total cost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderProduct in orderProductDetailsModel)
            {
            <tr>
                <ProductLink ProductModel="@orderProduct.ProductModel" Height="150px"></ProductLink>
                <td>@orderProduct.OrderProduct.Amount</td>
                <td>@orderProduct.OrderProduct.TotalPrice</td>
            </tr>
            }
        </tbody>
    </table>
}
