@page "/orders/{Id:int}"

@using DataAccessLibrary

<h1>
    Order details
</h1>

<select name="AuthorizationMode" @bind="PayForm">
    <option value="">Select form</option>
    <option value="1">Ingenico</option>
    <option value="2">Shu Bike Shop</option>
</select>

@if (orderModel is not { PaymentStatus: PaymentStatus.Paid })
{
    <HostedCheckout parent="this">
    </HostedCheckout>
    <PayForOrder parent="this">
    </PayForOrder>
}

@if (!loaded)
{
    <Loading></Loading>
}
else if (orderModel == null)
{
    <p>
        <em>"There is nothing here..."</em>
    </p>
}

@if (orderModel != null)
{
    <br />
    <table class="table">
        <tbody>
            <tr>
                <td>Order Number</td>
                <td>@orderModel.Id</td>
            </tr>
            <tr>
                <td>OrderStatus</td>
                <td>@orderModel.OrderStatus</td>
            </tr>
            <tr>
                <td>Payment status</td>
                <td>@orderModel.PaymentStatus</td>
            </tr>
            <tr>
                <td>Total amount</td>
                <td>@orderModel.TotalAmount</td>
            </tr>
        </tbody>
    </table>
}

<h2>
    Products
</h2>

@if (orderProductDetailsModel != null)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Total cost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderProduct in orderProductDetailsModel)
            {
                <tr>
                    <td><img height="150px" src="@orderProduct.ProductModel.ImageUrl" /></td>
                    <td>@orderProduct.OrderProduct.Amount</td>
                    <td>@orderProduct.OrderProduct.TotalPrice</td>
                </tr>
            }
        </tbody>
    </table>
}
