@page "/orders/{Id:int}"

@using DataAccessLibrary

<h1>
    Order details
</h1>

@if (orderModel != null && orderModel.PaymentStatus == PaymentStatus.NotPaid)
{
    <select name="AuthorizationMode" @bind="AuthorizationMode">
        <option value="SALE">Sale</option>
        <option value="PRE_AUTHORIZATION">Pre Authorization</option>
        <option value="FINAL_AUTHORIZATION ">Final Authorization</option>
    </select>

    @if (userTokenAliases != null)
    {
        <select name="Alias" @bind="@AliasId">
            <option value="">Select saved card</option>
            @for (int i = 0; i < userTokenAliases.Count; i++)
            {
                <option value="@i">@userTokenAliases[i]</option>
            }
        </select>
    }

    <input type="checkbox" @bind-value="@IsRecurring">
    <label for="vehicle1">Recurring</label>

    @if (!string.IsNullOrEmpty(AuthorizationMode))
    {
        <CardForm OnValidSubmit="@PayAsync" @ref="@cardForm"></CardForm>
    }
}

@if (!loaded)
{
    <Loading></Loading>
}
else if (orderModel == null)
{
    <p><em>"There is nothing here..."</em></p>
}

@if (orderModel != null)
{
    <br />
    <table class="table">
        <tbody>
            <tr>
                <td>Order Number</td>
                <td>@orderModel.Id</td>
            </tr>
            <tr>
                <td>OrderStatus</td>
                <td>@orderModel.OrderStatus</td>
            </tr>
            <tr>
                <td>Payment status</td>
                <td>@orderModel.PaymentStatus</td>
            </tr>
            <tr>
                <td>Total amount</td>
                <td>@orderModel.TotalAmount</td>
            </tr>
        </tbody>
    </table>
}
