@page "/orders/{Id:int}"

@using DataAccessLibrary.Models
@using DataAccessLibrary
@using PaymentAccessService
@using Ingenico.Direct.Sdk.Domain;

@inject IOrderData orderData
@inject ISecurityService securityService
@inject IPaymentService paymentService
@inject ITransactionsData transactionData
@inject IJSRuntime jSRuntime
@inject ISecurityService securityService
@inject NavigationManager navigationManager


<h1>
    Order details
</h1>

<select name="Month" @bind="PaymentProductId">
    <option value="1">Visa</option>
    <option value="3">MasterCard</option>
</select>

<select name="Month" @bind="AuthorizationMode">
    <option value="SALE">Sale</option>
    <option value="PRE_AUTHORIZATION">Pre Authorization</option>
    <option value="FINAL_AUTHORIZATION ">Final Authorization</option>
</select>
<input type="checkbox" id="vehicle1" name="vehicle1" @bind-value="@IsRecurring">
<label for="vehicle1">Recurring</label>


@if (PaymentProductId.HasValue && !string.IsNullOrEmpty(AuthorizationMode))
{
    <CardForm OnValidSubmit="@Pay"></CardForm>
}

@if (!loaded)
{
    <Loading></Loading>
}
else if (orderModel == null)
{
    <p><em>"There is nothing here..."</em></p>
}

@if (orderModel != null)
{
    <table class="table">
        <tbody>
            <tr>
                <td>Order Number</td>
                <td>@orderModel.Id</td>
            </tr>
            <tr>
                <td>OrderStatus</td>
                <td>@orderModel.OrderStatus</td>
            </tr>
            <tr>
                <td>Payment status</td>
                <td>@orderModel.PaymentStatus</td>
            </tr>
            <tr>
                <td>Total amount</td>
                <td>@orderModel.TotalAmount</td>
            </tr>
        </tbody>
    </table>
}

@code{
    private User user;
    private bool IsPaid(OrderModel order) => order.PaymentStatus == PaymentStatus.Paid;

    public OrderModel orderModel;
    private bool loaded;

    [Parameter]
    public int? Id { get; set; }
    public int? PaymentProductId { get; set; } = 1;

    public bool IsRecurring { get; set; }
    public string AuthorizationMode { get; set; } = "SALE";

    protected override async Task OnInitializedAsync()
    {
        user = await securityService.GetCurrentUser();
        await RefreshOrder();
    }

    private async Task Pay(Card card)
    {
        var pay = await jSRuntime.Confirm($"Pay for order ?");

        if (!pay)
        {
            return;
        }

        TransactionCreateModel transaction = new TransactionCreateModel
        {
            PaymentProductId = PaymentProductId.Value,
            Amount = orderModel.TotalAmount,
            Username = user.Name,
            OrderId = orderModel.Id,
            CardholderName = card.CardholderName
        };

        try
        {
            var amountOfMoney = long.Parse((orderModel.TotalAmount * 100).ToString());

            var order = new Order()
            {
                AmountOfMoney = new AmountOfMoney()
                {
                    Amount = amountOfMoney,
                    CurrencyCode = "EUR"
                }
            };

            var cardPaymentMethodSpecificInput = new CardPaymentMethodSpecificInput()
            {
                PaymentProductId = PaymentProductId,
                Card = card,
                AuthorizationMode = AuthorizationMode,
                IsRecurring = IsRecurring
            };

            CreatePaymentRequest createPaymentRequest = new CreatePaymentRequest()
            {
                CardPaymentMethodSpecificInput = cardPaymentMethodSpecificInput,
                Order = order,
            };

            var response = await paymentService.CreatePayment(createPaymentRequest);
            var json = response.ToJson();
            transaction.ResponseMessage = json;
            transaction.Status = response.Payment.Status;
            await jSRuntime.Inform(json);
        }
        catch (Exception ex)
        {
            var error = ex.ToString();
            transaction.ErrorMessage = error;
            await jSRuntime.Inform(error);
        }

        await transactionData.AddTransaction(transaction);
        //await orderData.UpdateOrder(new OrderUpdateModel() { Id = orderModel.Id, OrderStatus = orderModel.OrderStatus, PaymentStatus = PaymentStatus.Paid });
    }

    private async Task RefreshOrder()
    {
        loaded = false;

        if (user != null && Id.HasValue)
        {
            orderModel = await orderData.GetOrder(Id.Value, user.Name);
        }

        loaded = true;
    }

    private async Task PayForOrder(OrderModel orderModel)
    {
        if (user == null)
        {
            return;
        }

        await orderData.UpdateOrder(new OrderUpdateModel() { Id = orderModel.Id, OrderStatus = orderModel.OrderStatus, PaymentStatus = PaymentStatus.Paid });
        await jSRuntime.Inform($"Thank you for paying for order {orderModel.Id}");
    }
}