@page "/orders/{Id:int}"

@using DataAccessLibrary

<h1>
    Order details
</h1>

@if (orderModel is { PaymentStatus: PaymentStatus.NotPaid })
{
    <PayForOrder parent="this" user="user">
    </PayForOrder>
}

@if (!loaded)
{
    <Loading></Loading>
}
else if (orderModel == null)
{
    <p>
        <em>"There is nothing here..."</em>
    </p>
}

@if (orderModel != null)
{
    <br />
    <table class="table">
        <tbody>
            <tr>
                <td>Order Number</td>
                <td>@orderModel.Id</td>
            </tr>
            <tr>
                <td>OrderStatus</td>
                <td>@orderModel.OrderStatus</td>
            </tr>
            <tr>
                <td>Payment status</td>
                <td>@orderModel.PaymentStatus</td>
            </tr>
            <tr>
                <td>Total amount</td>
                <td>@orderModel.TotalAmount</td>
            </tr>
        </tbody>
    </table>
}

<h2>
    Products
</h2>

@*@if (orderProducts != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderProduct in orderProducts)
            {
                <tr>
                    <td>@orderProduct.pro</td>
                    <td>@orderProduct.Quantity</td>
                    <td>@orderProduct.Price</td>
                </tr>

            }
        </tbody>
    </table>
}*@ 
