@page "/product/{Id:int}"

@if (productModel != null)
{
    <div>
        <h3>@productModel.Name</h3>
        <h1>@productModel.Price EUR</h1>
    </div>

    <div>

        <img width="600px" src="@productModel.ImageUrl" />

        @if (productModel.Amount < 1)
        {
            <button class="btn btn-primary" disabled="true">
                <span class="oi oi-cart"> Out of stock</span>
            </button>
        }
        else
        {
            <button class="btn btn-primary" @onclick="()=>basketModalService.AddProductToBasket(productModel)">
                <span class="oi oi-cart"> Add to basket</span>
            </button>
        }
    </div>

    if (descProps != null)
    {

        <table class="table">
            <tbody>
                @foreach (var item in descProps)
                {
                    <tr>
                        <td>
                            <b>
                                @item.Key
                            </b>
                        </td>
                        <td>
                            @item.Value
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
